# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# Dataset files - exclude all image/data directories but keep scripts and .gitkeep
data/raw/
data/processed/
data/raw_samples/*
data/faces_extracted/*
data/perturbed/

# Keep important files
!data/raw_samples/.gitkeep
!data/faces_extracted/metadata.csv

# Model weights
*.pth
*.pt
model/checkpoints/*.pth
!model/checkpoints/README.md

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db

*.npz
