# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# Dataset files - exclude all image/data directories but keep scripts and .gitkeep
data/raw/
data/processed/
data/raw_samples/*
data/faces_extracted/*
# Keep important files
!data/raw_samples/.gitkeep
!data/faces_extracted/metadata.csv
# Do not ignore scripts
!data/download_dataset.py
!data/face_extraction.py

# Model weights
*.pth
*.pt
model/checkpoints/

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db
